@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-gradient {
    background: linear-gradient(45deg, #0f172a, #1e293b, #470101);
    background-size: 300% 300%;
    animation: gradient-shift 10s ease infinite;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}


@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-25%); }
}

.animate-scroll {
  animation: scrollUp 3s linear infinite;
}
